In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [ ]:
titanic = pd.read_csv("/content/drive/MyDrive/ICTAK/titanic_dataset.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
titanic.shape

(891, 12)

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
titanic.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
titanic.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
titanic.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [ ]:
predictors = titanic.drop('Survived', axis = 'columns')
target = titanic.Survived

In [ ]:
predictors['Sex'].replace(['female','male'],[0,1],inplace=True)
predictors.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

In [ ]:
predictors.Age = predictors.Age.fillna(predictors.Age.mean())
predictors.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors,target,test_size=0.25)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test) #the gauge the accuracy

0.8161434977578476

In [ ]:
X_test[:10]

     Pclass  Sex        Age      Fare
830       3    0  15.000000   14.4542
799       3    0  30.000000   24.1500
769       3    1  32.000000    8.3625
278       3    1   7.000000   29.1250
305       1    1   0.920000  151.5500
445       1    1   4.000000   81.8583
888       3    0  29.699118   23.4500
492       1    1  55.000000   30.5000
593       3    0  29.699118    7.7500
81        3    1  29.000000    9.5000

In [ ]:
y_test[:10]

830    1
799    0
769    0
278    0
305    1
445    1
888    0
492    0
593    0
81     1
Name: Survived, dtype: int64

In [ ]:
model.predict(X_test[:10])

array([1, 1, 0, 0, 1, 1, 1, 0, 1, 0])

In [24]:
model.get_params()

{'priors': None, 'var_smoothing': 1e-09}

Hyper Parameter Tuning

In [25]:
from sklearn.model_selection import RepeatedStratifiedKFold
cv_method = RepeatedStratifiedKFold(n_splits=5,  n_repeats=3, random_state=999)

In [ ]:
params_NB = {'var_smoothing': np.logspace(0,-9, num=100)}
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV


CV_ng = GridSearchCV(estimator=classifer, param_grid=params_NB, cv= cv_method,verbose = 1, scoring = 'accuracy'

CV_ng.fit(x_train,y_train)
CV_ng.best_params_

In [ ]:
CV_ng.best_score_

In [ ]:
predictions = CV_ng.predict(x_test)
print('Accuracy score = ', accuracy_score(y_test, predictions))